#form-amouts {
  width: 45vh;
  height: 100%;
  padding: 0;
  margin-bottom: 5vh;
  margin-top: 10vh;
}

.amounts-div {
  display: inline-block;
  vertical-align: top;
  width: 14.5vh;
}

.interval-div {
  display: inline-block;
  vertical-align: top;
  width: 22vh;
}

.navbar {
  width: 100%;
}

.tax-regime-check, .agency-check {
  display: inline-block;
  vertical-align: top;
  margin-right: 4vh;
  padding-bottom: 5px;
  padding-top: 5px;
}

#send-form {
  width: 45vh;
}

body {
  background-color: darkgray;
}
