#form-amouts {
  width: 45vh;
  height: 100%;
  padding: 0;
  margin-bottom: 15vh;
  margin-top: 10vh;
}

.amounts-div {
  display: inline-block;
  vertical-align: top;
  margin-right: 3px;
  margin-left: 3px;
  width: 14vh;
}

.amounts-div-container {
  display: flex;
}

.navbar{
    width: 100%;
}

.tax-regime-check {
    /* margin-right: 5vh; */
}

#tax-regime-section {
    margin-bottom: 1vh;
}

#send-form{
    width: 45vh;
}

body {
    background-color: darkgray;
}